@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.test {
    position: fixed;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.test_h1 {
    text-align: center;
    color: #28a745;
    font-size: 40px;
}

.test_num {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.da_button_list {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.da_button_list button {
    font-family: 'Poppins', sans-serif;
    margin: 0 5px;
    background-color: #28a745;
    border: 0;
    color: #fff;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s;
}

.da_button_list button:hover {
    background-color: #1f8937;
}